@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #232323;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  @apply px-4 py-2 text-white rounded-lg bg-[#303F9F] transition-all duration-200
  hover:bg-[#2F3C8E] flex gap-x-2 items-center;
}
